<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bosh.module_mvp">

    <application android:theme="@style/mvp_AppTheme">
        <activity android:name=".ui.login.LoginActivity"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>