<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bosh.module_kotlin">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/kotlin_AppTheme">
        <activity
            android:name=".ui.compose.ComposeTestActivity"
            android:exported="true"
            android:label="@string/title_activity_compose_test"
            android:theme="@style/kotlin_AppTheme.NoActionBar" />
        <activity android:name=".ui.splash.SplashActivity" />
        <activity android:name=".ui.MaterialDialogListActivity" />
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>